@import "table";
@import "dropdown";


.resetButton{
  background-color: #e7e7e7;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  padding: 2px;
  cursor: pointer;
  font-size: 10px;
}