$column-header-sort-color: green;

.highPrice {
  background-color: #f2e4e1;
}

.columnToSortBy {
  color: $column-header-sort-color;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  cursor: pointer;
}

@mixin arrow() {
  border: solid $column-header-sort-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-right:3px;
}

.arrowUp {
  @include arrow;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrowDown {
  @include arrow;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}




